#lbOverlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: #000;
  cursor: pointer;
}
#lbCenter, #lbBottomContainer {
  position: fixed;
  left: 50%;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  z-index: 1000;
}
.lbLoading {
  background: #fff url(loading.gif) no-repeat center;
}
#lbImage {
  border: 10px solid #fff;
}
#lbPrevLink, #lbNextLink {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  outline: none;
  height:34px;
  width:63px;
  display:none;
}
#lbPrevLink {
  left: 0;
  background: transparent url(btn-prev.gif) no-repeat 0% 15%;
}
#lbNextLink {
  right: 0;
  background: transparent url(btn-next.gif) no-repeat 100% 15%;
}
#lbBottom {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px;
  color: #666;
  line-height: 1.4em;
  text-align: left;
  border: 5px solid #fff;
  border-top-style: none;
}
#lbCloseLink {
  display: block;
  float: right;
  width: 66px;
  height: 22px;
  background: transparent url(closelabel.gif) no-repeat center;
  margin: 5px 0;
}
#lbCaption, #lbNumber {
  margin-right: 71px;
}
#lbCaption {
  font-weight: bold;
}
.lbImageCaption {
  color: #555555;
  left: 4px;
  top:0px;
  position: absolute;
  font-size:9px;
}
